<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Andrii Kalamaiko Home Page</title>
  </head>

  <body>
    <!--Main-->
    <div class="main">
      <!-- Main Content-->
      <div class="main-content">
        <!-- About User -->
        <div class="about">
          <p>Last updated: 2022-09-06</p>
          <h1 class="about-name">Andrii Kalamaiko</h1>
          <h2 class="about-position">Software Developer | DevOps Engineer </h2>
            <span> Welcome, and thanks for your interest in my IT portfolio!</span>
            <span>
                This webpage is created with Python Flask and published on AWS ElasticBeanstalk through a GitHub CI/CD Pipeline
                <br>
                [Python, Flask, HTML, CSS, GitHub Actions, and AWS (ElasticBeanstalk, Route53, S3)]
            </span>
        </div>

        <!-- Work -->
        <div>
          <h3 class="title">Work Experience</h3>
          <!-- Company 1-->
          <div class="work">
            <h4 class="work-position">Junior Software Developer <span class="organization">Intent Solutions</span></h4>
            <p class="period">Feb 2022 - up to now <span class="line">|</span> Ukraine</p>
            <ul class="work-list">
              <li>
                API backend for online order tracking with delivery price calculation, delivery time, route etc. <br>
                [Python v3, Django, REST API, PostgreSQL, Google maps API]
              </li>
              <li>
                App for aggregation info of topic SEO - getting and handling best SEO recommendations for SEO specialist by criteria and intelligent matchin <br>[Python v3, Django, PostgreSQL, RabbitMQ, Crawler, Vue.js, JavaScript]
              </li>
              <li>
                Telegram Bot for the personal account of the user of a private clinic. Making an appointment, medical history, online consultations, payments, accounting etc. <br>[Python v3, PostgreSQL, Telegram bot API]
              </li>
            </ul>
          </div>
          <!-- Company 2-->
          <div class="work">
            <h4 class="work-position">Python Internship <span class="organization">Edvantis</span></h4>
            <p class="period">July 2022 - Aug 2022 <span class="line">|</span> Germany</p>
            <ul class="work-list">
              <li>API backend with http error handling and unit tests, cloud deploy <br> [Python v3, FastAPI, PostgreSQL, SQLAlchemy, Swagger, OpenAPI, Docker, Postman, Pytest, AWS, OAuth2] </li>
            </ul>
          </div>
          <!-- Company 3-->
          <div class="work">
            <h4 class="work-position">System Administrator <span class="organization">KingLex Attorneys United </span></h4>
            <p class="period">Oct 2020 - Feb 2022 <span class="line">|</span> Ukraine</p>
            <ul class="work-list">
              <li>Assembled and administered server with a Webserver (Apache, Nginx), Virtualization (VMware ESXi, proxmox, Xen), Active Directory, LDAP, Backup (Wasabi, Google Drive, S3), Containers (Docker, Kubernetes)</li>
              <li>Built and maintained overall network (TCP/IP, DNS, GRE Tunnel with IPsec between offices, VPN)</li>
              <li>Administered various Linux (Debian, Ubuntu, Fedora, CentOS, Red Hat, Archlinux)</li>
              <li>Experience with AWS (Lambda, Beanstalk, EC2, S3, iAM, Route53, DynamoDB, SNS, CloudFront, VPC)</li>
              <li>Provided full technical support with various hardware (e.g., laptop fix) and software (Windows, macOS, and Linux)</li>
            </ul>
          </div>

          <!-- Company 4-->
          <div class="work">
            <h4 class="work-position">Software Developer <span class="organization">Freelance</span></h4>
            <p class="period">March 2020 - Feb 2022 <span class="line">|</span> Ukraine </p>
            <ul class="work-list">
              <li>Created an automated code pipeline, hence, increasing allowance to move to a continuous delivery model</li>
              <li>Designed, created, and maintained the firm website https://kinglex.ua (WordPress, PHP)</li>
              <li>Worked with Terraform, Jenkins and Ansible</li>
              <li>•	Developed various apps using Python v3, Django, API, PostgreSQL, JavaScript, CSV, JSON, XML, web parsing, HTML5, CSS3</li>
            </ul>
          </div>
        </div>
        <!-- Projects -->
        <div class="projects">
          <h3 class="title">Projects</h3>
          <ul class="projects-list">
            <li class="project-item">
              <span class="project">
                This webpage is created with Python Flask and published on AWS ElasticBeanstalk through a GitHub CI/CD Pipeline
                <br>
                [Python, Flask, HTML, CSS, GitHub Actions, and AWS (ElasticBeanstalk, Route53, S3)]
              </span>
            </li>
            <li class="project-item">
              <span class="project">
                        FastAPI back-end with http error handling and unit tests, cloud deploy, docker-ready <br> [Python v3, FastAPI, PostgreSQL, OpenAPI, Docker, Kubernetes, Pytest, Postman, AWS, OAuth2]
                <br><a href="https://github.com/un1ck-andy/FastAPI_pet_store" class="project-link">https://github.com/un1ck-andy/FastAPI_pet_store</a>
                        </span>
            </li>
            <li class="project-item">
              <span class="project">
                            Dynamic table rendering, filtering and sorting with data generation <br>
                           [React, JavaScript / TypeScript]
                        </span>
            </li>


          </ul>
        </div>

        <div class="projects">
          <h3 class="title">Additional Skills</h3>
          <ul class="projects-list">
            <li class="project-item">
              <span class="project">
                           Ability to share knowledge and explain complex ideas in simple words to various audiences, communicate effectively and easy
                        </span>
            </li>
            <li class="project-item">
              <span class="project">
                        Good understanding of object-oriented and procedural programming

                        </span>
            </li>
            <li class="project-item">
              <span class="project">
                        Experience of software development life cycle, continuous integration and deployment

                        </span>
            </li>
            <li class="project-item">
              <span class="project">
                           Effective time and task management skills, familiar with Agile/Scrum methodologies

                        </span>
            </li>
            <li class="project-item">
              <span class="project">
                           Solid problem-solving skills, passion to do things right

                        </span>
            </li>
            <li class="project-item">
              <span class="project">
                            Passion for quick-learning new technologies and ability to catch on the fly, interest in UX

                        </span>
            </li>
            <li class="project-item">
              <span class="project">
                            Solid legal background in the intersection of law and IT, i.e., copyright, software licensing, GDPR compliance
                        </span>
            </li>
          </ul>


        </div>
        <!-- Education -->
        <div class="education">
          <h3 class="title">Education</h3>
          <div>
            <h4 class="organization">GlobalLogic</h4>
            <h5 class="education-course">IT Switch Course</h5>
            <p class="period">2022</p>
          </div>
          <div>
            <h4 class="organization">Harvard University and Yale University</h4>
            <h5 class="education-course">CS50W Web Programming with Python and JavaScript </h5>
            <p class="period">2022</p>
          </div>
          <div>
            <h4 class="organization">Harvard University and Yale University</h4>
            <h5 class="education-course">CS50's Introduction to Programming with Python </h5>
            <p class="period">2022</p>
          </div>
          <div>
            <h4 class="organization">Harvard University and Yale University</h4>
            <h5 class="education-course">CS50x general course on computer science, algorithms, data structures and design patterns </h5>
            <p class="period">2022</p>
          </div>
          <div>
            <h4 class="organization">Udemy, LinkedIn, Sololearn</h4>
            <h5 class="education-course">CS50 (Computer Science 50) course on computer science</h5>
            <p class="period">2022</p>
          </div>
          <div>
            <h4 class="organization">Harvard University and Yale University</h4>
            <h5 class="education-course">Python, Java, HTML, CSS, JavaScript, TypeScript, React, Node.js, and jQuery courses</h5>
            <p class="period">2021</p>
          </div>
          <div>
            <h4 class="organization">Yaroslav Mudryi National Law University </h4>
            <h5 class="education-course">PhD Doctor of Philosophy </h5>
            <p class="period">2012 - 2015 <span class="line">|</span> Defended Ph.D. thesis 'Electronic means of proof in civil proceedings'</p>
          </div>
          <div>
            <h4 class="organization">National University 'Yaroslav Mudryi Law Academy of Ukraine'</h4>
            <h5 class="education-course">Master of Laws </h5>
            <p class="period">2011 - 2012 <span class="line">|</span> cum laude</p>
          </div>
          <div>
            <h4 class="organization">Yaroslav Mudryi National Law Academy of Ukraine </h4>
            <h5 class="education-course">Bachelor of Laws </h5>
            <p class="period">2007 - 2011 <span class="line">|</span> cum laude</p>
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <div class="tech-skills">
          <div class='button'>
            <a href="https://github.com/un1ck-andy"><img src="https://img.shields.io/badge/GitHub-white?style=for-the-badge&logo=GitHub&logoColor=black" class="contact-link"></a>
            <a href="https://www.linkedin.com/in/a-kalamaiko/"><img src="https://img.shields.io/badge/LinkedIn-white?style=for-the-badge&logo=LinkedIn&logoColor=black" class="contact-link"></a>
          </div>
          <h3 class="sidebar-title">Tech Skills</h3>
          <ul class="skills-list">
            <li class="skills-item"><span class="skills-text">Python (Django, Flask, FastAPI)</span></li>
            <li class="skills-item"><span class="skills-text">Docker, AWS, Azure </span></li>
            <li class="skills-item"><span class="skills-text">SQL, Postgres</span></li>
            <li class="skills-item"><span class="skills-text">CSV, JSON, XML parsing</span></li>
            <li class="skills-item"><span class="skills-text">JavaScript, TypeScript</span></li>
            <li class="skills-item"><span class="skills-text">React, Node.js, jQuery</span></li>
            <li class="skills-item"><span class="skills-text">HTML5, CSS3</span></li>
            <li class="skills-item"><span class="skills-text">Git, GitLab, GitHub</span></li>
            <li class="skills-item"><span class="skills-text">Linux/macOS, bash</span></li>
            <li class="skills-item"><span class="skills-text">Windows, powershell</span></li>

          </ul>
        </div>
        <div class="soft-skills">
          <h3 class="sidebar-title">Soft Skills</h3>
          <ul class="skills-list">
            <li class="skills-item"><span class="skills-text">Scrum</span></li>
            <li class="skills-item"><span class="skills-text">Agile</span></li>
            <li class="skills-item"><span class="skills-text">GTD</span></li>
            <li class="skills-item"><span class="skills-text">Teamwork</span></li>
          </ul>
        </div>
        <div class="soft-skills">
          <h3 class="sidebar-title">Languages</h3>
          <ul class="skills-list">
            <li class="skills-item"><span class="skills-text">English: fluent (C1, First Certificate in English)</span></li>
            <li class="skills-item"><span class="skills-text">French: basic</span></li>
            <li class="skills-item"><span class="skills-text"> Ukrainian and Russian: native speaker</span></li>
          </ul>
        </div>
      </aside>
    </div>

  </body>

</html>